@model ASPNETMVC_Group1.Models.RegisterViewModel
@{
	ViewBag.Title = "Đăng ký";
	Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<div class="bracum">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ol class="ol-non">
					<li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
					<li><a href="javascript:void(0)">Đăng ký </a></li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- Register Section Begin -->
<div class="register-login-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="register-form" id="registerForm">
					<h2>Đăng ký</h2>
					@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
					{
						@Html.AntiForgeryToken()
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="group-input">
							@Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off" })
							@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
						</div>
						<div class="group-input">
							@Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
							@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						</div>
						<div class="group-input">
							@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
							@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
						</div>
						<div class="group-input">
							@Html.LabelFor(m => m.Ten, new { @class = "col-md-4 control-label" })
							@Html.TextBoxFor(m => m.Ten, new { @class = "form-control", autocomplete = "off" })
							@Html.ValidationMessageFor(m => m.Ten, "", new { @class = "text-danger" })
						</div>
						<div class="group-input">
							@Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
							@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", autocomplete = "off" })
							@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
						</div>
						<div class="group-input">
							@Html.LabelFor(m => m.GioiTinh, new { @class = "col-md-4 control-label" })
							<select id="GioiTinh" class="form-control" name="GioiTinh">
								<option value="">Chọn giới tính</option>
								<option value="Nam">Nam</option>
								<option value="Nữ">Nữ</option>
								<option value="Khác">Khác</option>
							</select>
							@Html.ValidationMessageFor(m => m.GioiTinh, "", new { @class = "text-danger" })
						</div>
						<div class="group-input">
							@Html.LabelFor(m => m.NgaySinh, new { @class = "col-md-4 control-label" })
							@Html.TextBoxFor(m => m.NgaySinh, new { @class = "form-control", autocomplete = "off" })
							@Html.ValidationMessageFor(m => m.NgaySinh, "", new { @class = "text-danger" })
						</div>
						<div class="group-input">
							@Html.LabelFor(m => m.ThanhPho, new { @class = "col-md-4 control-label" })
							<select id="ThanhPho" class="form-control" name="ThanhPho">
							</select>
							<div class="invalid-feedback" id="val-RegionId"></div>
							@Html.ValidationMessageFor(m => m.ThanhPho, "", new { @class = "text-danger" })
						</div>
						<div class="group-input">
							@Html.LabelFor(m => m.QuanHuyen, new { @class = "col-md-4 control-label" })
							<select id="QuanHuyen" class="form-control" name="QuanHuyen">
							</select>
							<div class="invalid-feedback" id="val-DistristId"></div>
							@Html.ValidationMessageFor(m => m.QuanHuyen, "", new { @class = "text-danger" })
						</div>
						<div class="group-input">
							@Html.LabelFor(m => m.DiaChi, new { @class = "col-md-4 control-label" })
							@Html.TextAreaFor(m => m.DiaChi, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.DiaChi, "", new { @class = "text-danger" })
						</div>
						<input class="billing_address_1" name="" type="hidden" value="">
						<input class="billing_address_2" name="" type="hidden" value="">
						<button type="submit" class="btn site-btn register-btn text-white" id="btnSubmit">Đăng ký</button>
					}
					<div class="switch-login">
						@Html.ActionLink("Đăng nhập", "Login", null, new { @class = "or-login" })
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- Register Form Section End -->
@section css{
	<link rel="stylesheet prefetch" href="~/Public/FrontEnd/css/datetimepicker.css">	
}
@section Scripts{
	<script src='~/Public/FrontEnd/js/district.min.js'></script>
	<script src="~/Public/FrontEnd/js/datetimepicker.js"></script>
	<script>
		//Initialize
		$('#NgaySinh').datepicker({
			dateFormat: 'yy-mm-dd',
			changeMonth: true,
			changeYear: true,
			yearRange: '1950:2010',
			minDate: new Date(1950, 1 - 1, 1),
			maxDate: '+30Y',
			inline: true
		});
		$('#GioiTinh').val(localStorage.getItem('gender')).change();
		$('#GioiTinh').change(function () {
			localStorage.setItem('gender', $('#GioiTinh').val());
		});
		if (address_2 = localStorage.getItem('address_2_saved')) {
			$('select[name="QuanHuyen"] option').each(function () {
				if ($(this).text() == address_2) {
					$(this).attr('selected', '')
				}
			})
			$('input.billing_address_2').attr('value', address_2)
		}
		if (district = localStorage.getItem('district')) {
			$('select[name="QuanHuyen"]').html(district)
			$('select[name="QuanHuyen"]').on('change', function () {
				var target = $(this).children('option:selected')
				target.attr('selected', '')
				$('select[name="QuanHuyen"] option').not(target).removeAttr('selected')
				address_2 = target.text()
				$('input.billing_address_2').attr('value', address_2)
				district = $('select[name="QuanHuyen"]').html()
				localStorage.setItem('district', district)
				localStorage.setItem('address_2_saved', address_2)
			})
		}
		$('select[name="ThanhPho"]').each(function () {
			var $this = $(this),
				stc = ''
			c.forEach(function (i, e) {
				e += +1
				stc += '<option value="' + i + '">' + i + '</option>'
				$this.html('<option value="">Chọn tỉnh thành phố</option>' + stc)
				if (address_1 = localStorage.getItem('address_1_saved')) {
					$('select[name="ThanhPho"] option').each(function () {
						if ($(this).text() == address_1) {
							$(this).attr('selected', '')
						}
					})
					$('input.billing_address_1').attr('value', address_1)
				}
				$this.on('change', function (i) {
					i = $this.children('option:selected').index() - 1
					var str = '',
						r = $this.val()
					if (r != '') {
						arr[i].forEach(function (el) {
							str += '<option value="' + el + '">' + el + '</option>'
							$('select[name="QuanHuyen"]').html('<option value="">Chọn quận huyện</option>' + str)
						})
						var address_1 = $this.children('option:selected').text()
						var district = $('select[name="QuanHuyen"]').html()
						localStorage.setItem('address_1_saved', address_1)
						localStorage.setItem('district', district)
						$('select[name="QuanHuyen"]').on('change', function () {
							var target = $(this).children('option:selected')
							target.attr('selected', '')
							$('select[name="QuanHuyen"] option').not(target).removeAttr('selected')
							var address_2 = target.text()
							$('input.billing_address_2').attr('value', address_2)
							district = $('select[name="QuanHuyen"]').html()
							localStorage.setItem('district', district)
							localStorage.setItem('address_2_saved', address_2)
						})
					} else {
						$('select[name="QuanHuyen"]').html('<option value="">Chọn quận huyện</option>')
						district = $('select[name="QuanHuyen"]').html()
						localStorage.setItem('district', district)
						localStorage.removeItem('address_1_saved', address_1)
					}
				})
			})
		})
	</script>
	<script>
		//Validate
		const re = /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		const reTel = /^\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})$/;
		const reDOB = /^([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))$/;
		
		$(document).ready(function () {
			$('#btnSubmit').prop('disabled', true);
			$('#registerForm').keyup(function () {
				if ($('#Email').val().trim() != '' && $('#Password').val() != '' && $('#ConfirmPassword').val() != '' && $('#Ten').val().trim() != '' && $('#PhoneNumber').val().trim() != '' && $('#GioiTinh').val() != '' &&
					$('#NgaySinh').val().trim() != '' && $('#ThanhPho').val() != '' && $('#QuanHuyen').val() != '' && $('#DiaChi').val().trim() != '') {
					if (!re.test($('#Email').val()) || $('#Password').val().length < 6 || $('#ConfirmPassword').val() !== $('#Password').val() || !reTel.test($('#PhoneNumber').val()) || !reDOB.test($('#NgaySinh').val())) {
						$('#btnSubmit').prop('disabled', true);
					} else {
						$('#btnSubmit').prop('disabled', false);
					}
				} else {
					$('#btnSubmit').prop('disabled', true);
				}
			});
			$('#registerForm').change(function () {
				if ($('#Email').val().trim() != '' && $('#Password').val() != '' && $('#ConfirmPassword').val() != '' && $('#Ten').val().trim() != '' && $('#PhoneNumber').val().trim() != '' && $('#GioiTinh').val() != '' &&
					$('#NgaySinh').val().trim() != '' && $('#ThanhPho').val() != '' && $('#QuanHuyen').val() != '' && $('#DiaChi').val().trim() != '') {
					if (!re.test($('#Email').val()) || $('#Password').val().length < 6 || $('#ConfirmPassword').val() !== $('#Password').val() || !reTel.test($('#PhoneNumber').val()) || !reDOB.test($('#NgaySinh').val())) {
						$('#btnSubmit').prop('disabled', true);
					} else {
						$('#btnSubmit').prop('disabled', false);
					}
				} else {
					$('#btnSubmit').prop('disabled', true);
				}
			});
			$('#Email').keyup(function () {
				if ($('#Email').val().trim() == '')
					$('span[data-valmsg-for="Email"]').text('Hãy nhập email.');
				else {
					if (!re.test($('#Email').val()))
						$('span[data-valmsg-for="Email"]').text('Email không hợp lệ.');
					else
						$('span[data-valmsg-for="Email"]').text('');
				}
			});
			$('#Email').keydown(function () {
				if ($('#Email').val().trim() == '')
					$('span[data-valmsg-for="Email"]').text('Hãy nhập email.');
				else {
					if (!re.test($('#Email').val()))
						$('span[data-valmsg-for="Email"]').text('Email không hợp lệ.');
					else
						$('span[data-valmsg-for="Email"]').text('');
				}
			});
			$('#Password').keyup(function () {
				if ($('#Password').val() == '')
					$('span[data-valmsg-for="Password"]').text('Hãy nhập mật khẩu.');
				else {
					if ($('#Password').val().length < 6)
						$('span[data-valmsg-for="Password"]').text('Mật khẩu có ít nhất 6 kí tự.');
					else
						$('span[data-valmsg-for="Password"]').text('');
				}
			});
			$('#Password').keydown(function () {
				if ($('#Password').val() == '')
					$('span[data-valmsg-for="Password"]').text('Hãy nhập mật khẩu.');
				else {
					if ($('#Password').val().length < 6)
						$('span[data-valmsg-for="Password"]').text('Mật khẩu có ít nhất 6 kí tự.');
					else
						$('span[data-valmsg-for="Password"]').text('');
				}
			});
			$('#ConfirmPassword').keyup(function () {
				if ($('#ConfirmPassword').val() == '')
					$('span[data-valmsg-for="ConfirmPassword"]').text('Hãy nhập xác nhận mật khẩu.');
				else {
					if ($('#ConfirmPassword').val() !== $('#Password').val())
						$('span[data-valmsg-for="ConfirmPassword"]').text('Mật khẩu và xác nhận mật khẩu không trùng khớp.');
					else
						$('span[data-valmsg-for="ConfirmPassword"]').text('');
				}
			});
			$('#ConfirmPassword').keydown(function () {
				if ($('#ConfirmPassword').val() == '')
					$('span[data-valmsg-for="ConfirmPassword"]').text('Hãy nhập xác nhận mật khẩu.');
				else {
					if ($('#ConfirmPassword').val() !== $('#Password').val())
						$('span[data-valmsg-for="ConfirmPassword"]').text('Mật khẩu và xác nhận mật khẩu không trùng khớp.');
					else
						$('span[data-valmsg-for="ConfirmPassword"]').text('');
				}
			});
			$('#Ten').keyup(function () {
				if ($('#Ten').val().trim() == '')
					$('span[data-valmsg-for="Ten"]').text('Hãy nhập họ tên.');
				else
					$('span[data-valmsg-for="Ten"]').text('');
			});
			$('#Ten').keydown(function () {
				if ($('#Ten').val().trim() == '')
					$('span[data-valmsg-for="Ten"]').text('Hãy nhập họ tên.');
				else
					$('span[data-valmsg-for="Ten"]').text('');
			});
			$('#PhoneNumber').keyup(function () {
				if ($('#PhoneNumber').val().trim() == '')
					$('span[data-valmsg-for="PhoneNumber"]').text('Hãy nhập số điện thoại.');
				else {
					if (!reTel.test($('#PhoneNumber').val()))
						$('span[data-valmsg-for="PhoneNumber"]').text('Số điện thoại không hợp lệ.');
					else
						$('span[data-valmsg-for="PhoneNumber"]').text('');
				}
			});
			$('#PhoneNumber').keydown(function () {
				if ($('#PhoneNumber').val().trim() == '')
					$('span[data-valmsg-for="PhoneNumber"]').text('Hãy nhập số điện thoại.');
				else {
					if (!reTel.test($('#PhoneNumber').val()))
						$('span[data-valmsg-for="PhoneNumber"]').text('Số điện thoại không hợp lệ.');
					else
						$('span[data-valmsg-for="PhoneNumber"]').text('');
				}
			});
			$('#GioiTinh').keydown(function () {
				if ($('#GioiTinh').val() == '')
					$('span[data-valmsg-for="GioiTinh"]').text('Hãy chọn giới tính.');
				else
					$('span[data-valmsg-for="GioiTinh"]').text('');
			});
			$('#GioiTinh').change(function () {
				if ($('#GioiTinh').val() == '')
					$('span[data-valmsg-for="GioiTinh"]').text('Hãy chọn giới tính.');
				else
					$('span[data-valmsg-for="GioiTinh"]').text('');
			});
			$('#NgaySinh').keyup(function () {
				if ($('#NgaySinh').val().trim() == '')
					$('span[data-valmsg-for="NgaySinh"]').text('Hãy nhập ngày sinh.');
				else {
					if (!reDOB.test($('#NgaySinh').val()))
						$('span[data-valmsg-for="NgaySinh"]').text('Ngày sinh không hợp lệ.');
					else
						$('span[data-valmsg-for="NgaySinh"]').text('');
				}
			});
			$('#NgaySinh').keydown(function () {
				if ($('#NgaySinh').val().trim() == '')
					$('span[data-valmsg-for="NgaySinh"]').text('Hãy nhập ngày sinh.');
				else {
					if (!reDOB.test($('#NgaySinh').val()))
						$('span[data-valmsg-for="NgaySinh"]').text('Ngày sinh không hợp lệ.');
					else
						$('span[data-valmsg-for="NgaySinh"]').text('');
				}
			});
			$('#NgaySinh').change(function () {
				if ($('#NgaySinh').val().trim() == '')
					$('span[data-valmsg-for="NgaySinh"]').text('Hãy nhập ngày sinh.');
				else {
					if (!reDOB.test($('#NgaySinh').val()))
						$('span[data-valmsg-for="NgaySinh"]').text('Ngày sinh không hợp lệ.');
					else
						$('span[data-valmsg-for="NgaySinh"]').text('');
				}
			});
			$('#ThanhPho').keydown(function () {
				if ($('#ThanhPho').val() == '')
					$('span[data-valmsg-for="ThanhPho"]').text('Hãy chọn tỉnh / thành phố.');
				else
					$('span[data-valmsg-for="ThanhPho"]').text('');
			});
			$('#ThanhPho').change(function () {
				if ($('#ThanhPho').val() == '')
					$('span[data-valmsg-for="ThanhPho"]').text('Hãy chọn tỉnh / thành phố.');
				else
					$('span[data-valmsg-for="ThanhPho"]').text('');
			});
			$('#QuanHuyen').keydown(function () {
				if ($('#QuanHuyen').val() == '')
					$('span[data-valmsg-for="QuanHuyen"]').text('Hãy chọn quận / huyện.');
				else
					$('span[data-valmsg-for="QuanHuyen"]').text('');
			});
			$('#QuanHuyen').change(function () {
				if ($('#QuanHuyen').val() == '')
					$('span[data-valmsg-for="QuanHuyen"]').text('Hãy chọn quận / huyện.');
				else
					$('span[data-valmsg-for="QuanHuyen"]').text('');
			});
			$('#DiaChi').keyup(function () {
				if ($('#DiaChi').val().trim() == '')
					$('span[data-valmsg-for="DiaChi"]').text('Hãy nhập địa chỉ.');
				else
					$('span[data-valmsg-for="DiaChi"]').text('');
			});
			$('#DiaChi').keydown(function () {
				if ($('#DiaChi').val().trim() == '')
					$('span[data-valmsg-for="DiaChi"]').text('Hãy nhập địa chỉ.');
				else
					$('span[data-valmsg-for="DiaChi"]').text('');
			});
		});
	</script>
}