@model PagedList.IPagedList<ASPNETMVC_Group1.Models.AspNetUser>
@using PagedList.Mvc;
@{
	ViewBag.Title = "Danh sách khách hàng";
	Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
@section breadcumb{
	<li class="breadcrumb-item"><a href="@Url.Action("Index", "QuanLy")">Dashboard</a></li>
	<li class="breadcrumb-item active">Khách hàng</li>
}
<section class="content">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-12">
					@using (Html.BeginForm("Index", "KhachHang", FormMethod.Get))
					{
						<div class="input-group rounded">
							@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { type = "search", @class = "form-control rounded", placeholder = "Tìm kiếm", autocomplete = "off" })
							<button class="input-group-text border-0" id="search-addon"><i class="fas fa-search"></i></button>
						</div>
					}
				</div>

			</div>
		</div>
		<div class="card-body p-0" style="display:block">
			<table class="table table-striped projects">
				<thead>
					<tr>
						<th style="width: 12%">
							Tên khách hàng
							<a href="@Url.Action("Index", new { sortOrder = ViewBag.SapTheoTen, currentFilter=ViewBag.CurrentFilter  })" style="color: #000">
								<i class="fas fa-sort"></i>
							</a>
						</th>
						<th style="width: 9%">
							Số đơn hàng
							<a href="@Url.Action("Index", new { sortOrder = ViewBag.SapTheoDon, currentFilter=ViewBag.CurrentFilter  })" style="color: #000">
								<i class="fas fa-sort"></i>
							</a>
						</th>
						<th style="width: 10%">
							Email
						</th>
						<th style="width: 10%">
							Số điện thoại
						</th>
						<th style="width: 6%">
							Giới tính
						</th>
						<th style="width: 7%">
							Ngày sinh
						</th>
						<th>
							Địa chỉ

						</th>
						<th style="width: 13%"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Ten)
							</td>
							<td align="center">@item.DonHangs.Where(x => x.TrangThai == 3).Count()</td>
							<td>@Html.DisplayFor(modelItem => item.Email)</td>
							<td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
							<td>@Html.DisplayFor(modelItem => item.GioiTinh)</td>
							<td>@Convert.ToDateTime(item.NgaySinh).ToString("yyyy-MM-dd")</td>
							<td>
								@{
									var address = @item.DiaChi + ", " + @item.QuanHuyen + ", " + @item.ThanhPho;
								}
								@address
							</td>
							<td>
								@if (item.LockoutEnabled)
								{
									using (Html.BeginForm("Unlock", "QuanLy/KhachHang", new { id = item.Id }, FormMethod.Post))
									{
										@Html.AntiForgeryToken()
										<button type="submit" data-click="unlock" class="btn btn-primary btn-sm">
											<i class="fas fa-lock-open"></i>
											Mở khoá tài khoản
										</button>
									}
								}
								else
								{
									using (Html.BeginForm("Lockout", "QuanLy/KhachHang", new { id = item.Id }, FormMethod.Post))
									{
										@Html.AntiForgeryToken()
										<button type="submit" data-click="lockout" class="btn btn-danger btn-sm">
											<i class="fas fa-lock"></i>
											Khoá tài khoản
										</button>
									}
								}
							</td>
						</tr>
					}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="8" align="right">
							Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
							@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</section>
@section css{
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/BackEnd/dist/css/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

@section scripts{
	<script src="~/Public/FrontEnd/js/sweetalert2.all.min.js"></script>
	<script>
		//Initialize
		$('#khachhang').addClass('active');
	</script>
	<script>
		//Submit lockout
		$(document).ready(function () {
			$('[data-click="lockout"]').click(function (e) {
				e.preventDefault();
				var form = $(this).parents('form');
				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-success mr-3',
						cancelButton: 'btn btn-danger'
					},
					buttonsStyling: false
				})
				swalWithBootstrapButtons.fire({
					title: 'Khoá tài khoản',
					text: "Bạn có chắc chắn muốn khoá tài khoản này?",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Có',
					cancelButtonText: 'Không'
				}).then((result) => {
					if (result.isConfirmed) {
						form.submit()
					}
				});
			});
		});
		//Submit unlock
		$(document).ready(function () {
			$('[data-click="unlock"]').click(function (e) {
				e.preventDefault();
				var form = $(this).parents('form');
				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-success mr-3',
						cancelButton: 'btn btn-danger'
					},
					buttonsStyling: false
				})
				swalWithBootstrapButtons.fire({
					title: 'Mở khoá tài khoản',
					text: "Bạn có chắc chắn muốn mở khoá tài khoản này?",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Có',
					cancelButtonText: 'Không'
				}).then((result) => {
					if (result.isConfirmed) {
						form.submit()
					}
				});
			});
		});
	</script>
	@if (ViewBag.LockoutSuccess != null)
	{
		<script>
			const swalWithBootstrapButtons = Swal.mixin({
				customClass: {
					confirmButton: 'btn btn-success',
					cancelButton: 'btn btn-danger mr-3'
				},
				buttonsStyling: false
			})
			swalWithBootstrapButtons.fire(
				'Khoá thành công!',
				'',
				'success'
			)
		</script>
	}
	@if (ViewBag.LockoutError != null)
	{
		<script>
			const swalWithBootstrapButtons = Swal.mixin({
				customClass: {
					confirmButton: 'btn btn-success',
					cancelButton: 'btn btn-danger mr-3'
				},
				buttonsStyling: false
			})
			swalWithBootstrapButtons.fire(
				'Khoá thất bại!',
				"Hãy thử lại sau",
				'error'
			)
		</script>
	}
	@if (ViewBag.UnlockSuccess != null)
	{
		<script>
			const swalWithBootstrapButtons = Swal.mixin({
				customClass: {
					confirmButton: 'btn btn-success',
					cancelButton: 'btn btn-danger mr-3'
				},
				buttonsStyling: false
			})
			swalWithBootstrapButtons.fire(
				'Mở khoá thành công!',
				'',
				'success'
			)
		</script>
	}
	@if (ViewBag.UnlockError != null)
	{
		<script>
			const swalWithBootstrapButtons = Swal.mixin({
				customClass: {
					confirmButton: 'btn btn-success',
					cancelButton: 'btn btn-danger mr-3'
				},
				buttonsStyling: false
			})
			swalWithBootstrapButtons.fire(
				'Mở khoá thất bại!',
				"Hãy thử lại sau",
				'error'
			)
		</script>
	}
}