@model PagedList.IPagedList<ASPNETMVC_Group1.Models.DanhMucTTViewModel>
@using PagedList.Mvc;
@{
	Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<main role="main" class="pb-3">

	<div class="bracum">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ol class="ol-non">
						<li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
						<li><a href="javascript:void(0)">@ViewBag.Title</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 order-lg-last">
					<div class="box-manugar">
						<div class="my-content">
							<div class="head-box">
								<div class="title-box">
									<h1>
										<a href="javascript:void(0)" title="@ViewBag.Title">
											@ViewBag.Title
										</a>
									</h1>
								</div>
								<div class="clr"></div>
							</div>
							<div class="body-box">
								@foreach (var item in Model)
								{
									<div class="item-news">
										<div class="row">
											<div class="col-lg-5">
												<a href="@Url.Action("Index", "TT", new { id = item.MaTinTuc })" title="@item.TieuDe" class="a-recome">
													@{
														var ImagePath = "~/wwwroot/News/" +item.anh.LinkAnh;
													}
													<img data-src="@Url.Content(ImagePath)" alt="@item.TieuDe" class="img-reponsive lazy" />
												</a>
											</div>
											<div class="col-lg-7">
												<div class="content-right">
													<h2>
														<a href="@Url.Action("Index","TT",new { id = item.MaTinTuc })" title="@item.TieuDe">@item.TieuDe</a>
													</h2>
													<span>@Convert.ToDateTime(item.CreatedDate).ToString("dd/MM/yyyy")</span>
													<p></p>
													<a href="@Url.Action("Index","TT",new { id = item.MaTinTuc })" class="see-more" title="Xem tiếp">Xem tiếp</a>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
							<div class="mar-bot-20">
								<div class="row">
									<div class="col-lg-12 text-right">
										<div class="pagina">
											@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-lg-3 order-lg-first">
					<div class="box-left hidden-sm hidden-xs">
						@{Html.RenderAction("DanhMucSanPham", "Partial");}
					</div>

					<div class="box-left hidden-sm hidden-xs">
						@{Html.RenderAction("TinNoiBat", "Partial");}
					</div>

					<div class="box-left">
						@{Html.RenderAction("SanPhamMoiVe", "Partial");}
					</div>

				</div>
			</div>
		</div>
	</div>
</main>
@section css{
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
	<link href="~/Public/FrontEnd/css/category.css" rel="stylesheet" type="text/css" />
}


